---
layout: default
title: Smarie
---

<ul id="posts" class="twelve columns offset-by-four">
    <li>
		<!-- TODO : short bio -->
		<a class="nine columns" href="{{ site.baseurl }}{% link _collection/research_and_publications.md %}"></a>
	</li>
  {% for post in site.posts %}
    <li>
      {% if post.external_url %}
        <a class="nine columns" href="{{ post.external_url }}">{{ post.title }}</a>
      {% else %}
        <a class="nine columns" href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}

      <span class="two columns">{{ post.date | date: "%b %Y" }}</span>
    </li>
  {% endfor %}
</ul>
